.nav-bar-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  padding: 8px;
}

.title-with-score-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
  max-width: 1000px;
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.emoji-logo {
  width: 24px;
}

.title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

.scores-container {
  display: flex;
}

.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .emoji-logo {
    width: 48px;
  }

  .title {
    font-size: 24px;
  }

  .score {
    font-size: 24px;
    margin-left: 32px;
  }
}
